* {
  box-sizing: border-box;
}

/* alternative root font size to allow easier conversion from px to rem */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem; /* 16px */
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: black;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: red; /* scroll thumb and track */
}
html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: Chancery, cursive;
  color: red;
}
q {
  font-family: Chancery, cursive;
}
/* ----------------------------- Scroll bar styling ---------------------------- */
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

/* ----------------------------- Header styling ---------------------------- */
header {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo {
  float: left;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
  float: right;
}
nav .toggle {
  display: none;
}
.list {
  text-align: center;
  padding-right: 120px;
  padding-top: 10px;
}

nav a {
  color: aliceblue; /* Change the colour of the links in the nav  */
  font-size: medium;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  text-decoration: solid;
}

nav li a:hover {
  background-color: red;
  color: black;
}
/* -----------------------------Backgorund Video Styling ---------------------------- */

#videocontainer,
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.video-overlay {
  background-color: black;
  opacity: 0.3;
}
.overlay h1 {
  font-family: Comic Sans MS, Comic Sans, cursive;
  background: #000 none repeat scroll 0 0;
  color: red;
  font-weight: 600;
  margin: 2rem 3rem 0;
  mix-blend-mode: overlay;
  padding: 5px 15px;
  top: 50%;
  position: absolute;
}

.Intro {
  margin-top: 740px;
  background: black;
  color: aliceblue;
  font-weight: 600;
  font-size: medium;
  width: 100%;
  min-height: 300px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: auto;
}

.flip-card-container {
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
  gap: 10px;
  background-color: black;
  margin: 0;
  width: 100%;
}

.flip-card {
  background-color: black;

  display: block;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border-radius: 15px 50px;
  margin-top: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px 50px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  flex-direction: column;
  padding: auto;
  overflow-wrap: break-word;
  border-radius: 15px 50px;
}

.flip-card-front {
  background-color: black;
  color: #f2d2bd;
  padding-top: 80px;
}

.flip-card-back {
  background-color: whitesmoke;
  color: black;
  overflow-y: scroll;

  transform: rotateY(180deg);
}
