/* alternative root font size to allow easier conversion from px to rem */

/* ----------------------------- Html body styling ---------------------------- */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem; /* 18px */
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  line-height: 30px;
  text-align: justify;
}

.container {
  width: 100%;
  background-color: black;
  float: left;
}

/* ----------------------------- Header  styling ---------------------------- */

header {
  background-color: black;
  text-align: center;
  color: red;
  font-family: fantasy;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: -25px;
}

h2,
h3,
h4,
h5,
h6,
h1 {
  color: red;
}
/* ----------------------------- Logo positioning ---------------------------- */

.logo {
  float: left;
  margin-left: 10px;
  margin-top: -30px;
}

/* ----------------------------- Page content div Styling ---------------------------- */

.pageContent {
  width: 100%;
  background-color: black;
  color: aliceblue;
  margin-left: 10px;
  padding-left: 10px;
  margin-bottom: 50px;
}

.usage::before {
  content: "\a";
  white-space: pre;
}

/* ----------------------------- Page content image styling ---------------------------- */

.pageContent img {
  padding: 20px 0px 10px 0px;
  width: 100%;
  height: 400px;
}

/* ----------------------------- Side menulist styling ---------------------------- */

.menuList {
  background-color: black;
  color: aliceblue;
  float: left;
  height: 960px;
  overflow-y: scroll;
  scrollbar-width: remove;
  border: 1px red;
}

/* ----------------------------- Search box styling ---------------------------- */

#searchList {
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* ----------------------------- Style the navigation menu list inside the left column ---------------------------- */

#list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: aliceblue;
}

/* -----------------------------List elements styling ---------------------------- */

#list li a {
  padding: 12px;
  text-decoration: none;
  display: block;
  color: aliceblue;
}

/* ----------------------------- List elements hovering effects styling ---------------------------- */

#list li a:hover {
  background-color: red;
  color: black;
}

/* ----------------------------- Footer styling ---------------------------- */

footer {
  color: red;
  margin-top: 50px;
  padding: 2px;
}

/* ----------------------------- Scroll bar styling ---------------------------- */

.Title {
  height: 960px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}

/* --------        --------         --------      Styling for button.html       --------       --------       --------  */

/* ----------------------------- Button live demo and styling ---------------------------- */

.Livedemo {
  height: 200px;
  position: relative;
  border: 1px solid black;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
  background-color: red;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(202, 4, 4);
  color: white;
}

.formbtn {
  background-color: #ddd;
  border: none;
  color: black;

  text-align: center;
  font-size: 16px;
}
/* ----------------------------- Code snippet Styling ---------------------------- */
code {
  font-family: Courier, "New Courier", monospace;
  font-size: 16px;
}

#codeSnippet {
  background-color: #000000;
  color: green;
  display: inline-block;
  width: 100%;
}

/* --------        --------         --------      Styling for typogrphy.html       --------       --------       --------  */

/* ----------------------------- felxbox styling ---------------------------- */

.mainblock {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 70px;
  padding: 0px 20px 0px 20px;
}
.block {
  width: 300px;
  height: 100px;
  color: aliceblue;
  margin-right: 250px;
}

/* -----------------------------Scale Styling in typogrphy.html---------------------------- */
.xxs {
  font-size: xx-small;
}

.xs {
  font-size: x-small;
}

.sm {
  font-size: small;
}

.md {
  font-size: medium;
}

.lg {
  font-size: large;
}

.xl {
  font-size: x-large;
}

.xxl {
  font-size: xx-large;
}

/* --------        --------         --------      Styling for colours.html       --------       --------       --------  */

/* ----------------------------- felxbox styling ---------------------------- */

.maincircleblock {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  justify-content: space-evenly;
  justify-content: space-around;
  margin-bottom: 70px;
  padding: 0px 20px 0px 20px;
}

.colourblock p {
  text-align: center;
  color: aliceblue;
}

/* ----------------------------- Rounded Div styling ---------------------------- */

.circle1,
.circle2,
.circle3 {
  background-color: red;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px 20px 0px 20px;
  border: 20px solid #161b21;
}

.circle2 {
  background-color: aliceblue;
}

.circle3 {
  background-color: black;
}

/* --------        --------         --------      Styling for gridsystem.html       --------       --------       --------  */

/* ----------------------------- Grid felxbox styling ---------------------------- */

.flexblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  margin: 20px;
  border: 5px solid red;
}

.flexelement {
  width: 200px;
  height: 100px;
  border: 3px solid red;
  margin: 10px;
  text-align: center;
}

.flexelement p {
  margin-top: 35px;
}

.flexelement:hover {
  background-color: red; /* Grid element hover effect */
}

/* ----------------------------- fixed grid styling ---------------------------- */
.fixedgridcontainer {
  width: 80%;
  margin: 0 auto;
  border: 5px solid red;
}

.fixedrow {
  display: flex;
  flex-wrap: wrap;
}

.fixedcol {
  width: 33.33%;
  padding: 10px;
  border: 3px solid red;
}

/* ----------------------------- Responsive grid styling ---------------------------- */

.rescontainer {
  width: 80%;
  margin: 0 auto;
  border: 5px solid red;
}

.resrow {
  display: flex;
  flex-wrap: wrap;
}

.rescol {
  width: 100%;
  padding: 10px;
  border: 3px solid red;
}

@media (min-width: 768px) {
  .col-md-4 {
    width: 33.33%;
  }
}

/* ----------------------------- Flexbox grid styling ---------------------------- */

.flexcontainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 5px solid red;
}

.flexcol {
  width: 33.33%;
  padding: 30px;
  border: 3px solid red;
}

/* ----------------------------- using grid styling ---------------------------- */

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.flexgridcontainer {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  background-color: black;
  padding: 10px;
  width: 80%;
  padding-left: 110px;
}

.flexgridcontainer div {
  background-color: red;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  font-size: larger;
}

/* --------        --------         --------      Styling for form.html       --------       --------       --------  */

.form {
  background-color: black;
  margin: 20px 0px 20px 0px;
  padding: 10px;
  color: red;
  border: 1px solid aliceblue;
}

/* --------        --------         --------      Styling for cards.html       --------       --------       --------  */

/* ----------------------------- Flip card styling ---------------------------- */

.flip-card-container {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
  gap: 10px;
  background-color: #f2d2bd;
  margin: 0;
  width: 100%;
}

.flipcard {
  width: 250px;
  height: 320px;
  margin: 20px;
  perspective: 1000px;
  box-shadow: -1px 2px 2px 0px rgba(255, 0, 0, 0.8);
}

.flipcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipcard:hover .flipcard-inner {
  transform: rotateY(180deg);
}

.flipcard-front,
.flipcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.flipcard-front img,
.flipcard-back img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.flipcard-back {
  transform: rotateY(180deg);
}

.flipcard:hover {
  box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.8);
}
/* --------        --------         --------      Styling for tooltip.html       --------       --------       --------  */

/* ----------------------------- Tooltip styling ---------------------------- */

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute; /* Position the tooltip */
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* --------        --------         --------      Styling for toogle.html       --------       --------       --------  */

/* ----------------------------- Toogle switch styling ---------------------------- */

.slidercontainer {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slidercontainer input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px; /* Rounded sliders */
}

.slider.round:before {
  border-radius: 50%;
}

/* --------        --------         --------      Styling for align.html       --------       --------       --------  */

/* ----------------------------- Styling of aligning the text ---------------------------- */

.Livedemo1 {
  display: flex;
  height: 200px;
  position: relative;
  border: 1px solid black;
  justify-content: space-between;
  flex-direction: column;
}
.left,
.right,
.Center {
  margin: 10px 0px 10px 0px;
  color: red;
  text-align: left;
  border: 1px solid white;
  padding-left: 10px;
}

.Center {
  text-align: center;
  width: 99%;
}

.right {
  text-align: right;
  padding-right: 10px;
}

a {
  transition: transform 0.2s;
}
a:hover {
  transform: scale(1.1);
}
/* ----------------------------- Styling for list group ---------------------------- */
ul {
  list-style: none;
}
ol li::marker {
  color: red;
}
.pageContent .Livedemo .center ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
/* ----------------------------- Styling for dialog box ---------------------------- */
/*Reference:(https://codepen.io/dcode-software/pen/LKywLG) */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");

.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  animation-name: confirm---open;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm--close {
  animation-name: confirm---close;
}

.confirm__window {
  width: 100%;
  max-width: 600px;
  background: aliceblue;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  opacity: 0;
  transform: scale(0.75);
  animation-name: confirm__window---open;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.confirm__titlebar,
.confirm__content,
.confirm__buttons {
  padding: 1.25em;
}

.confirm__titlebar {
  background: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm__title {
  font-weight: bold;
  font-size: 1.1em;
}

.confirm__close {
  background: none;
  outline: none;
  border: none;
  transform: scale(2.5);
  color: #ffffff;
  transition: color 0.15s;
}

.confirm__close:hover {
  color: #ff0000;
  cursor: pointer;
}

.confirm__content {
  line-height: 1.8em;
}

.confirm__buttons {
  background: aliceblue;
  display: flex;
  justify-content: flex-end;
}

.confirm__button {
  padding: 0.4em 0.8em;
  border-radius: 5px;
  background: black;
  color: red;
  font-weight: bold;
  font-size: 1.1em;
  font-family: "Noto Sans", sans-serif;
  margin-left: 0.6em;
  cursor: pointer;
  outline: none;
}

.confirm__button--fill {
  background: black;
  color: red;
}

.confirm__button:focus {
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.5);
}

@keyframes confirm---open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes confirm---close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes confirm__window---open {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

input[type="radio"]:after,
input[type="checkbox"]:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after,
input[type="checkbox"]:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: red;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.pages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pages li {
  margin-left: 20px;
  list-style: none;
}

.pages li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.pages li a:hover {
  text-decoration: underline;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  padding: 10px;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu li a {
  color: aliceblue;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  text-decoration: underline;
}
nav li a:hover {
  background-color: red;
  color: black;
}

/*------------------------------------Media queries-------------------------------------*/

/* Small devices (portrait tablets and large phones, 600px and down) */

@media only screen and (max-width: 620px) {
  html,
  body,
  .menu-container {
    width: 100%;
    overflow-x: hidden;
    font-size: 100%;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  header {
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
  }
  .logo {
    float: left;
    margin-left: 10px;
    margin-top: 30px;
  }
  .header-right {
    float: none;
  }
  .Title {
    width: 100%;
  }
  .menu-container .menuList {
    display: none;
  }
  .menu-container.menu-open a.icon {
    color: red;
    display: block;
    position: absolute;
  }
  .icon {
    color: red;
  }
  .menu-container.menu-open .menuList {
    display: block;
  }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  html,
  body,
  .menu-container {
    width: 100%;
    overflow-x: hidden;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
    white-space: nowrap;
  }
  .header-right {
    float: none;
  }
  .Title {
    width: 100%;
  }
  .menu-container .menuList {
    display: none;
  }
  .menu-container.menu-open a.icon {
    color: red;
    display: block;
    position: absolute;
  }
  .icon {
    color: red;
  }
  .menu-container.menu-open .menuList {
    display: block;
  }

  .flexgridcontainer {
    display: grid;
    grid-template-areas:
      "header header header header header header"
      "menu main main main right right"
      "menu footer footer footer footer footer";
    gap: 10px;
    background-color: black;
    padding: 10px;
    width: 80%;
    padding-left: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .icon {
    visibility: hidden;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .icon {
    visibility: hidden;
  }
}
