/* Mobile first styles */

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: black;
  color: red;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 44px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 24px;
  transition: all 0.2s ease-in-out;
}
.fa-paper-plane {
  font-size: 20px;
  margin-top: -20px;
}

.alt-send-button:hover {
  transform: scale(1.7);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: red;
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

* {
  box-sizing: border-box;
}

/* alternative root font size to allow easier conversion from px to rem */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem; /* 16px */
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: black;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: red; /* scroll thumb and track */
  line-height: 30px;
}
html,
body {
  overflow-x: hidden;
}

h2,
h3 {
  font-family: Impact, sans-serif;
  color: red;
  padding-bottom: 16px;
}
q {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/* ----------------------------- Scroll bar styling ---------------------------- */
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

/* ----------------------------- Header styling ---------------------------- */
header {
  background-color: black;
  top: 0;
  width: 100%;
  z-index: 2;
  margin-top: -30px;
}
nav {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px red;
}

.logo img {
  height: 50px;
  margin-bottom: -45px;
}

nav h1 {
  font-size: 38px;
  margin: 0;
  color: red;
  font-family: Impact, sans-serif;
  margin-bottom: -50px;
}

#pages {
  margin: 0;
  padding: 0;
  display: flex;
}

#pages li {
  margin-left: 20px;
}

#pages li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#pages li a:hover {
  text-decoration: underline;
}

nav a {
  color: aliceblue; /* Change the colour of the links in the nav  */
  font-size: medium;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  text-decoration: solid;
  z-index: 7;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  padding: 5px;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu li a {
  color: aliceblue;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  text-decoration: underline;
}
nav li a:hover {
  background-color: red;
  color: black;
}

/* -----------------------------Backgorund Video Styling ---------------------------- */

#videocontainer,
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -6;
}

.video-overlay {
  background-color: black;
  opacity: 0.3;
}
.overlay h1 {
  font-family: sans-serif;
  background: #000 none repeat scroll 0 0;
  color: red;
  font-weight: 600;
  margin: 2rem 3rem 0;
  mix-blend-mode: overlay;
  padding: 5px 15px;
  top: 50%;
  position: absolute;
}

.contact-banner {
  background-position: center;
  height: 50vh;
  width: 100%;
  background-image: url(images/contact-banner.jpg);
  background-size: cover;
}
/* */
.Intro {
  margin-top: 740px;
  background: black;
  color: aliceblue;
  overflow: auto;
  padding: 0px 120px 0px 120px;
}
/* */
.Intro1 {
  background: black;
  font-weight: 600;
  font-size: medium;
  width: 100%;
  padding: 0px 120px 0px 120px;
  overflow: auto;
  margin-top: 100px;
}
hr {
  border: 1px solid red;
  margin-bottom: 100px;
}
/* */
.container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  flex-basis: calc(25% - 20px);
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-text {
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
}

.cards-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  box-shadow: red;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.card1:hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: aliceblue;
  line-height: 1.5;
  margin-bottom: 20px;
}

.introcontainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 50px;
  background: black;
  color: aliceblue;
  font-weight: 600;
  font-size: medium;
  width: 100%;
  overflow: auto;
}

.introcontainer img {
  max-width: 50%;
  height: auto;
  margin-left: 120px;
}

.introcontainer .content {
  max-width: 50%;
}

.btn {
  background-color: red;
  border: none;
  color: black;
  padding: 16px 2px;
  text-align: center;
  font-size: 16px;
  margin: 3px 2px;
  transition: 0.3s;
}
.btn1 {
  background-color: red;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover,
.btn1:hover {
  background-color: rgb(202, 4, 4);
  color: white;
}

.flipcards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.flipcard {
  width: 250px;
  height: 350px;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}

.flipcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipcard:hover .flipcard-inner {
  transform: rotateY(180deg);
}

.flipcard-front,
.flipcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.flipcard-front img,
.flipcard-back img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.flipcard-back {
  transform: rotateY(180deg);
}

.flipcard:hover {
  box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.8);
}
.leftcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: black;
}

.leftcontainer img {
  max-width: 40%;
  height: auto;
  margin-right: 300px;
  margin-left: -60px;
}

.leftcontent {
  max-width: 50%;
  color: aliceblue;
}

.allcards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  background-color: black;
  margin: 0;
}

.Intro1 h2 {
  text-align: center;
  padding-bottom: 50px;
  text-decoration: underline;
}

.cards1,
.cards2 {
  width: 50%;
  margin: auto;
  color: aliceblue;
}

.cards1 img,
.cards2 img {
  max-width: 90%;
}

ul {
  list-style: none;
}
ol li::marker {
  color: red;
}
.Intro1 ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.slide {
  flex: 0 0 auto;
  width: 40vw;
  height: 40vh;
  margin-right: 20px;
  scroll-snap-align: start;
}

.carousel img {
  cursor: pointer;
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.allcardsfooter {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
  gap: 10px;
  margin-top: 100px;
  border-top: solid 1px red;

  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}
.allcardsfooter h3 {
  color: red;
}

.footercards {
  box-sizing: border-box;
  float: left;
  width: calc(33% - 60px);
  padding-left: 20px;
  margin: 30px 30px 70px 30px;
  color: aliceblue;
  background-color: transparent;
}

.footercards a {
  color: aliceblue;
  text-decoration: underline;
}

.footercards a:hover {
  color: red;
}

/* contact page*/
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid red;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Poppins", sans-serif;
}
.some-class {
  float: left;
  clear: none;
  padding: 10px 0px 0px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  background-color: white;
  width: 100%;
  color: black;
  border: 1px solid red;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 0px 8px 0px 8px;
  margin-top: -7px;
}

input[type="radio"],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="radio"],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

/*------------------------------------wrappers of form and buttons Styling-------------------------------------*/

.container,
.buttoncontainer {
  color: aliceblue;
  border-radius: 20px;
  background-color: black;
  padding: 0px 120px 0px 120px;
  margin: 30px 90px 30px 90px;
  box-shadow: red;
  overflow: hidden;
}
.heading h1 {
  color: red;
  text-align: center;
  margin-top: 16px;
  font-family: Impact, sans-serif;
}
option {
  width: 90px;
}
option:hover {
  background-color: red;
}

.form {
  float: left;
  margin: 0 1.5%;
  width: 100%;
}
input[type="radio"]:after,
input[type="checkbox"]:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after,
input[type="checkbox"]:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: red;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");

.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  animation-name: confirm---open;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm--close {
  animation-name: confirm---close;
}

.confirm__window {
  width: 100%;
  max-width: 600px;
  background: aliceblue;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  opacity: 0;
  transform: scale(0.75);
  animation-name: confirm__window---open;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.confirm__titlebar,
.confirm__content,
.confirm__buttons {
  padding: 1.25em;
}

.confirm__titlebar {
  background: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm__title {
  font-weight: bold;
  font-size: 1.1em;
}

.confirm__close {
  background: none;
  outline: none;
  border: none;
  transform: scale(2.5);
  color: #ffffff;
  transition: color 0.15s;
}

.confirm__close:hover {
  color: #ff0000;
  cursor: pointer;
}

.confirm__content {
  line-height: 1.8em;
}

.confirm__buttons {
  background: aliceblue;
  display: flex;
  justify-content: flex-end;
}

.confirm__button {
  padding: 0.4em 0.8em;
  border-radius: 5px;
  background: black;
  color: red;
  font-weight: bold;
  font-size: 1.1em;
  font-family: "Noto Sans", sans-serif;
  margin-left: 0.6em;
  cursor: pointer;
  outline: none;
}

.confirm__button--fill {
  background: black;
  color: red;
}

.confirm__button:focus {
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.5);
}

@keyframes confirm---open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes confirm---close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes confirm__window---open {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*------------------------------------Media queries-------------------------------------*/

/* Small devices (portrait tablets and large phones, 600px and down) */

@media only screen and (max-width: 760px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  nav ul {
    display: none;
  }
  header {
    background-color: black;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .logo img {
    height: 50px;
  }

  .Intro {
    margin-top: 740px;
    background: black;
    color: aliceblue;
    overflow: auto;
    padding: 0px 0px 0px 0px;
  }
  /* */
  .Intro1 {
    background: black;
    font-weight: 600;
    font-size: medium;
    width: 100%;
    padding: 0px 0px 0px 0px;
    overflow: auto;
    margin-top: 100px;
  }
  nav ul {
    display: none;
  }
  nav h1 {
    font-size: 32px;

    color: red;
    font-family: Impact, sans-serif;
  }
  .menu-container.menu-open a.icon {
    color: red;
    display: block;
    position: absolute;
  }
  .menu-container.menu-open #pages {
    display: block;
  }
  .icon {
    color: red;
    font-size: 45px;
    margin-top: 50px;
  }

  nav {
    display: flex;
  }

  #pages {
    display: none;
  }
  .introcontainer img {
    max-width: 90%;
    height: auto;
    margin-left: 20px;
    margin-top: 60px;
  }
  .allcards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
  }

  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: red;
    border-radius: 5px;
    margin: 100px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
  }
  .introcontainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    background: black;
    color: aliceblue;
    font-weight: 600;
    font-size: medium;
    width: 100%;
    overflow: auto;
  }
  .flipcards-container {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
  }
  .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  .allcardsfooter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 100px -500px 0px -500px;
  }
  .contact-banner {
    height: 20vh;
  }
}

@media only screen and (min-width: 760px) and (max-width: 868px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  nav ul {
    display: none;
  }
  nav h1 {
    font-size: 32px;

    color: red;
    font-family: Impact, sans-serif;
  }
  .menu-container.menu-open a.icon {
    color: red;
    display: block;
    position: absolute;
  }
  .menu-container.menu-open #pages {
    display: block;
  }
  .icon {
    color: red;
    font-size: 45px;
    margin-top: 50px;
  }

  nav {
    display: flex;
  }

  #pages {
    display: none;
  }
  .Intro {
    margin-top: 740px;
    background: black;
    color: aliceblue;
    overflow: auto;
    padding: 0px 0px 0px 0px;
  }
  /* */
  .Intro1 {
    background: black;
    font-weight: 600;
    font-size: medium;
    width: 100%;
    overflow: auto;
    margin-top: 100px;
  }
  .introcontainer img {
    max-width: 90%;
    height: auto;
    margin-left: 20px;
    margin-top: 60px;
  }
  .allcards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .cards1,
  .cards2 {
    padding: 0px -20px 0px -20px;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: red;
    border-radius: 5px;
    margin: 30px 0px 50px 200px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .cards-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -100px;
  }
  .introcontainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    background: black;
    color: aliceblue;
    font-weight: 600;
    font-size: medium;
    width: 100%;
    overflow: auto;
  }
  .allcardsfooter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 100px -500px 0px -500px;
  }
  .footercards {
    padding: -100px;
  }
  .contact-banner {
    height: 30vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 868px) {
  .icon {
    visibility: hidden;
  }
  nav h1 {
    font-size: 38px;
    color: red;
    font-family: Impact, sans-serif;
  }
  .introcontainer img {
    max-width: 50%;
    height: auto;
    margin-left: auto;
  }
  .contact-banner {
    height: 30vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .icon {
    visibility: hidden;
  }
}
.close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
}
.close:before,
.close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 20px;
  background-color: red;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: top left;
  content: "";
}
.close:after {
  transform: rotate(-45deg) translate(-50%, -50%);
}
